/* Html,body  */

html,
body{
  width:100%;
  color:black;
  font-size: 14px;
}

/* NavBar*/

.nav{
  width:100%;
  background-color: rgb(253, 251, 251);
  border-bottom: 1 solid black;
  -moz-box-shadow: 2px 2px 2px #777777;
  -webkit-box-shadow: 2px 2px 2px #777777;
  box-shadow: 2px 2px 2px #777777;
}

.brand{
  border:2px solid rgb(58, 57, 57);
  border-radius: 10px;
  margin-left:20px!important;
  margin:10px;
}

.icon-user{
  font-size:2.0rem;
  color:blue;
  margin-top: 5px;
  margin: 10px;
}

.nav-inner{
  padding-left:100px;
}

ul {
  margin:0px !important;
  padding:0px;
  margin-bottom: 0px;
}

.nav-item{
  float:left;
  list-style-type: none;
}

.nav-link{
  height: 100%;
  padding: 20px 20px!important;
}

.icon{
  font-size: 1.8rem;
}

.Search{
  margin-left:10%;
  position: relative;
  margin-top:25px;
}

.icon-search{
  font-size: 0.9rem;
  position: absolute;
  left:5px;
  top:8px;
  background-position: center;
  background-size: cover;
  color:blue;
}

.Search-input {
  box-sizing: border-box;
  background-color: white;
  border-radius: 15px;
  border: 1;
  border-color: rgb(224, 215, 215);
  opacity: .8;
  transition: opacity .2s;
  width: 200px !important;
  max-height: 25px;
  padding-left:25px;
}

.Search-input:focus {
  outline: none;
  opacity: 1;
}

.elip{
  display: none;
}

a:hover{
  background-color: red;
}

/* Home Page | Review Page */

.card1{
  width:100%!important;
  margin-bottom:10px;
  border-radius:40px!important;
}

.contain{
  padding-top:1rem!important;
  margin-bottom:50px;
}

.person{
  float:left;
}

.desc{
 float:left;
 line-height: 0.3em;
 margin-left:10px;
}

.icon-person{
  font-size:3.0rem;
  color:blue;
  border:2px solid rgb(58, 57, 57);
  border-radius: 10px;
  padding: 5px;
}

.card-header1{
  background-color: blue;
  margin-top:20px;
  margin-left:20px;
}

.video{
  margin-top:20px;
  width:100%;
  height:400px;
}

.button{
  width:100%;
  margin-top:-50px;
  background-color: orange;
  border-radius: 10px;
}

.white{
  color:white;
}

.button:focus{
  outline:none;
}

.social-icon{
  font-size:1.2em;
  color:blue;
}

.block{
  display:inline-block;
  width:calc(100%/3);
  text-align: center;
  cursor:pointer;
  height:100%;
  padding-top:10px;
  padding-bottom:10px;
  border-radius: 5px;
}

.block:hover{
  background-color: rgb(238, 230, 230);
}

.socialbuttons{
  margin-left:auto;
  margin-right:auto;
  width:100%;
  height: 100%;
  
}

.views{
  margin-left:10px;
}

.view-p{
  margin-bottom: 0px;
}

.comments{
  border:1px solid blue;
  border-radius:5px;
  margin: 10px;
  padding-left:10px;
}

.comment{
  margin-left:10px;
}

.op {
  display:none;
}

.icon-text{
  margin-left:10px;
  font-size:16px;
  margin-top:10px;
}

.name{
  font-weight: bold;
  text-transform: capitalize;
}

.write-comment{
  margin:10px;

}

.write{
  border:1px solid blue;
  width:100%;
  border-radius:10px;
  padding-left:10px;
  display:inline-block;
  border: solid 1px #000;
  min-height: 20px;
}

[contentEditable=true]:empty::before{
  content:attr(data-text)
}

.ch{
  padding-left:10px;
}



/* Discover Page */

.image-name{
  color:white;
  font-size:16px;
  text-align: center;
}

.image{
  display: inline-block !important;
  border: 2px solid blue;
  border-radius:10px;
  margin-right:10px;
}

.img{
  width:600px;
  height:400px;
  padding: 10px;
}

.image1{
  display:inline;
}

.img1{
  width:calc(100%/3);
  height:300px;
  padding:10px;
}

.Image-contain{
  margin:auto;
  width:90%;
}

.Image-container{
  overflow-x: scroll !important;
  overflow-y: hidden !important;
  white-space: nowrap !important;
  padding:10px;
}

.center-h3{
  text-align: center;
  padding-top:20px;
  color:white;
}

.image-name{
  color:white;
  font-size:16px;
  text-align: center;
}

.Discover-container{
  background-color: black;
  margin-top:0px;
  width:100%;
}

.video-review{
  width:600px;
  height:400px;
}

.Video-container{
  padding:10px;
  overflow-x: scroll !important;
  overflow-y: hidden !important;
  white-space: nowrap !important;
}

.video-box{
  display: inline-block !important;
  border: 2px solid blue;
  border-radius:10px;
  margin-right:10px;
  margin-bottom:10px;
}

#style-1::-webkit-scrollbar {
  width: 1px !important;
}

#style-1::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius:10px;
}

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color:black;
  width: 0 !important;
}

/* Notification Page */

.Notification{
  margin-left:auto;
  margin-right:auto;
  width:70% !important;
  margin-top:30px;
  background-color:rgb(209, 206, 206);
  margin-bottom: 30px;
  border-radius:20px;
}

.person-no{
  margin-left:20px;
  padding-top:20px;
}

.container-notify{
  background-color: aquamarine;
  border-radius:10px;
  padding-top:10px;
  padding-bottom: 10px;
  margin:20px;
  
}

.icon-person2{
  font-size:1.5rem;
  color:blue;
  border:2px solid rgb(58, 57, 57);
  border-radius: 10px;
  padding: 5px;
}

.no-time{
  text-align: right;
  margin-right:10px;

}

.no-com{
  padding-left:10px;
  margin-bottom: 0px;
}

.no-divide{
  padding-bottom:5px;
}

.form-box{
  width:80%!important;
  margin-left:auto;
  margin-right:auto;
  background-color:rgba(139, 193, 243, 0.89);
  margin-top:40px;
  border-radius:30px;
}

.form-h3{
  text-align:center;
  padding-top:10px;
  color:blue;
}

.form{
  margin-top:30px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 100px;
  height:100%;
  padding-left:100px;
}

input{
  display: block;
  border: 1px solid rgb(72, 72, 109);
  background-color:rgb(194, 193, 243);
  height:30px;
  width:400px;
  border-radius:30px;
  padding-left:20px;
}

.timedate{
  padding-right:20px;
  height:25px;
  width:180px;
}

.form-block{
  margin-bottom:30px;
}

.button1{
  width:180px!important;
  color:white;
}

.active{
  color:orange;
}

.navnot{
  display:block;
  width:100%;
  background-color: blue;
  z-index: 1;
}

.nav-inline{
  display: inline-block;
  width:50%;
  height:50px;
  text-align: center;
  padding-top:15px;
  cursor: pointer;
  color:white;
}

.nav-line:last-child{
  border-right:1px solid black;
}

.nav-inline:hover{
  background-color:orange;
}

.soc{
  margin-right:5px;
  padding-bottom:10px;
  font-size:16px;
}
/*Media Query*/



@media (max-width:1160px){
  .Search{
    margin-left:20px;
  }

  .img1{
    width:calc(100%/2);
    height:300px;
    padding:10px;
  }
}

@media (max-width:994px) and (min-width:489px) {
  .nav-inner1{
    position: absolute;
    top:75px;
    background-color: rgb(253, 251, 251);
    width:300px;
    height: 300px;
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    transition: transform 0.3s ease;
    z-index:5;
  }

  ul.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .Search{
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 5px;
  }

  .elip{
    display: inline;
    margin-right: 10px;
    padding-top:25px;
    color:blue;
    cursor: pointer;
  }

  .nav-item{
    float:none;
    display: block;
    position: relative;
  }

  .nav-inner{
    padding-left:0px;
  }

  .icon{
    float:right;
  }

  
}

@media (max-width:770px){
  .socialbuttons{
    width:100%;
  }

  .img{
    width:400px;
  }

  .video-review{
    width:400px;
  }

  .Notification{
    width:90%!important;
  }

  input{
    width:200px;
  }

  .img1{
    width:calc(100%/2);
    height:300px;
    padding:10px;
  }

}

@media (max-width:501px){
  .img1{
    width:100%;
    height:300px;
    padding:10px;
  }
}

@media (max-width:480px){
  .nav-inner1{
    position: fixed;
    bottom:0px;
    background-color: rgb(253, 251, 251);
    width:100%;
    padding: 0px!important;
    -moz-box-shadow: 2px -5px 2px #777777;
    -webkit-box-shadow: 2px -5px 2px #777777;
    box-shadow: 2px -2px 5px #777777;
    z-index: 5;
  }

  .video{
    height:250px;
  }

  .nav-item{
    float:left;
  }

  .text-none{
    display:none;
  }

  .nav-link{
    padding: 1rem 2.32rem!important;
  }

  .video-review{
    width: 330px;
    height:300px;
  }

  .Video-container{
    margin-bottom: 40px;
  }

  .Notification{
    margin-bottom: 70px;
  }

  .form{
    padding-left:20px;
  }

  .form-h3{
    font-size:16px;
  }

  
}

@media (max-width:414px){
  .nav-link{
    padding: 1rem 1.85rem!important;
  }
}


@media (max-width:412px){
  .nav-link{
    padding: 1rem 1.82rem!important;
  }
}

@media (max-width:384px){
  .nav-link{
    padding: 1rem 1.63rem!important;
  }
}

@media (max-width:375px){
  .nav-link{
    padding: 1rem 1.56rem!important;
  }
}

@media (max-width:360px){
  .nav-link{
    padding: 1rem 1.47rem!important;
  }
}

@media (max-width:320px){
  .nav-link{
    padding: 1rem 1.17rem!important;
  }

  .social-icon{
    margin-left:20px;
  }

  .desc{
    font-size:12px!important;
  }
}



/* new Css */

.form_block {
  margin-top: 100px;
  width: 500px;
  margin-left:auto;
  margin-right: auto;
  background: blue;
  padding-top:20px;
  padding-bottom: 20px;
}

.input {
  width: 300px;
  margin-left:auto;
  margin-right: auto;
  background-color: white;
  border-radius: 5px;
  height: 40px;
  margin-bottom:10px;
}

.body {
  background-color: white;
  width:350px;
  margin-left:auto;
  margin-right: auto;
  padding-top:30px;
  padding-bottom: 30px;
  margin-top:20px;
}

.log {
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

.submit {
  background-color: blue;
  font-size:20px;
  color: white;
}

.forgot {
  display:block;
  text-align: center;
  font-size:16px;
  
}

.forgot:hover {
  background-color:white;
  
}

.acc{
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 14px;
}

.reg {
  color:white;
}

.reg:hover {
  background-color: blue;
  color:white;
}